@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
}

/* loader styles */

#loadbody {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: radial-gradient(#222922, #000500);
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0;
}

.overlay {
  background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* border and lined overlay  */

#screen {
  position: relative;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 44, 0);
}

#escan,
#border {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: 100;
}

#escan {
  opacity: 60%;
}

/* content */

#content {
  width: 88.5%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 4rem 0;
  height: 100vh;
  overflow-y: scroll;
  font-family: 'VT323';
  color: rgb(159, 248, 25);
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(104, 110, 94), 0 0 1em rgb(104, 110, 94),
    0 0 0.2em rgb(104, 110, 94);

  position: relative;
}

/* utilities */
html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

section {
  padding: 4rem 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-link {
  display: inline-block;
  color: orange;
  text-decoration: none;
  margin-left: 20px;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

a::before {
  content: '> ';
}

a:hover {
  background-color: orange;
  color: black;
}

a:focus {
  outline: none;
  background-color: orange;
  color: black;
}

hr {
  border: none;
  background-color: none;
  outline: none;
}

hr::before {
  content: '////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
  overflow: hidden;
  height: 1em;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  width: 88.5%;
  max-width: 1536px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5rem 0 2rem 0;
  background-color: rgb(0, 44, 0);
  display: inline-block;

  box-shadow: 0px 5px 5px rgb(159, 248, 25, 0.25);
}

.header {
  width: 88.5%;
  max-width: 1536px;
  margin: 0 auto;
}

/* logo */

.logo {
  font-size: 5rem;
  text-decoration: underline;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  margin-top: 6rem;
}

.about-title {
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.about-desc {
  line-height: 1.6;
  max-width: 80ch;
  font-size: 1.5rem;
}

.about-desc + .about-desc {
  margin-top: 1rem;
}

.about-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-img img {
  max-width: 80%;
}

.cta-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.cta {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  color: orange;
}

.cta:hover {
  color: rgb(0, 44, 0);
}
